:root {
    color-scheme: dark;
    background-color: rgb(84, 83, 88);
    color:rgb(243, 234, 255);
    font-family: monospace;
    font-size: large;
}

hr {
    border: 1px solid rgb(176, 147, 255);
}

.head {
    padding: 5px;
}

.container-top {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    background-color: rgb(107, 106, 114);
    border-radius: 5%;
}

.drop1, .drop2 {
    margin-left: 15px;
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(107, 106, 114);
    border-radius: 10%;
}

img {
    margin-left: 50%;
}

button {
    color: rgb(243, 234, 255);
    background-color: rgb(72, 71, 77);
}

input {
    background-color: rgb(72, 71, 77);
}

.text {
    margin: 5%;
}

b {
    color: rgb(52, 48, 59);
}

.main {
    margin-bottom: 10%;
}

/* link colors */

a {
    color: rgb(229, 223, 255);
}

a:visited {
    color: rgb(186, 145, 252);
}

a:hover {
    color: rgb(211, 188, 255);
}