:root {
    color-scheme: dark;
    background-color: rgb(45, 30, 73);
    color:aliceblue;
    font-family: monospace;
    font-size: large;
}

button {
    background-color: rgb(135, 104, 192);
    font-family: monospace;
    font-size: small;
}

/* Attribution CSS */

#attribution {
    padding-top: 32%;
    text-align: center;
}

/* link colors */

a {
    color: rgb(229, 223, 255);
}

a:visited {
    color: rgb(157, 103, 243);
}

a:hover {
    color: rgb(106, 61, 190);
}